//? Change html size for Rem unit change.
@media (max-width: var(--br-m-desktop)) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: var(--br-s-desktop)) {
    html {
        font-size: 87.5%;
    }
}

@media (max-width: var(--br-xs-tablet)) {
    html {
        font-size: 75%;
    }
}
