.main-header {
    position: relative;
    z-index: 40;

    &__list__item {
        --hs: 3em;

        position: fixed;
        right: calc(-50vh + calc(var(--hs) / 2));
        inset-block: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-block: auto;
        margin-inline: 0;

        height: var(--hs);
        width: 100vh;

        transform: rotate(270deg);

        list-style: none;
        font-weight: 600;
        font-size: 1.25em;

        box-shadow: var(--ibs);
        transition: box-shadow 300ms ease-out;

        &__links {
            position: absolute;
            inset: 0;
            top: var(--ll, 0em);
            transition: top 200ms ease-out, opacity 150ms ease-in-out;

            opacity: var(--lo, 1);

            display: inherit;
            align-items: flex-start;
            justify-content: inherit;

            cursor: pointer;
            z-index: 1;
        }

        svg {
            width: 3em;

            transform: rotateX(var(--srx, 110deg));
            transition: transform 200ms ease-out, opacity 250ms ease-in-out;
            opacity: var(--so, 0.3);
        }
    }

    &:hover {
        //: List Item
        --ibs: inset 0px -10px 22px -20px var(--clr-text);

        //: Link
        --ll: -1em;
        --lo: 0.3;

        //: Svg
        --srx: 130deg;
        --so: 1;
    }
}
