@use "../abstracts/" as *;

.false-class------IDE {
    --clr-background: #040014; // rgba(4, 0, 20, 1)    	hsl(252, 100%, 4%)
    --clr-forward: hsl(258, 10%, 20%);
    --clr-hover: #994200; // rgba(153, 66, 0, 1)  	hsl(26, 100%, 30%)
    --clr-main: #aaa098; // rgba(255, 119, 0, 1) 	hsl(28, 100%, 50%)
    --clr-border: #ff9d00; // rgba(255, 157, 0, 1) 	hsl(37, 100%, 50%)
    --clr-text: #f9f8ff; // rgb(249, 248, 255)   	hsl(249, 100%, 99%)
}

:root {
    @include defineColorHSL(--clr-background, 0, 0%, 10%);
    @include defineColorHSL(--clr-forward, 258, 10%, 20%);
    @include defineColorHSL(--clr-hover, 13, 99%, 61%);
    @include defineColorHSL(--clr-main, 11, 98%, 59%);
    @include defineColorHSL(--clr-border, 228, 8%, 12%);
    @include defineColorHSL(--clr-text, 0, 0%, 96%);

    //: Text Size
    @for $i from 1 through 18 {
        $txt-math-base: 0.125;
        $db: 2 + $txt-math-base;
        $convert-base: $i * $txt-math-base;
        $convert-max: $convert-base * $db;
        $convert-min: $convert-base - $txt-math-base;

        --fs-#{$i}: clamp(#{$convert-base}rem, #{$convert-base}vw + #{$convert-base}rem, #{$convert-max}rem);
    }

    //: Border
    @for $i from 1 through 10 {
        $border-calc: $i * 2;

        --br-#{#{$border-calc}}: #{$border-calc}px;
    }

    //: Breakpoint
    --br-l-desktop: 1920px;
    --br-m-desktop: 1440px;
    --br-s-desktop: 1024px;
    --br-xs-tablet: 730px;
}
