@use "../abstracts" as *;
@use "sass:math" as *;

@function longShadowBuilder($color) {
	$val: 0px 0px $color;
	@for $i from 1 through 7 {
		$color2: lighten($color, $i * 0.8);
		$val: #{$val}, -#{$i}px #{$i}px #{$color2};
	}
	@return $val;
}

@mixin longShadow($color) {
	text-shadow: longShadowBuilder($color);
}

.main--home {
	$max-width: 110rem;
	$base-padding: 4rem;

	position: absolute;
	inset: 0;

	padding-block: var(--header-height);
	padding-inline: 4rem;

	background-image: url("../../../images/home-intro.svg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: auto 100%;

	@include md(xl) {
		background-size: 100% auto;
	}

	.intro {
		display: grid;
		grid-template-columns: 2fr 1fr;
		place-content: center;
		gap: 2rem;

		height: calc(100vh - var(--header-height) * 2);

		&__title {
			&-wrapper {
				width: fit-content;
			}

			$cursor-adjust: 0px;

			width: fit-content;

			font-size: 4rem;
			font-weight: 600;
			line-height: 3ex;
			white-space: normal;
			user-select: none;
			// cursor: pointer;

			@include longShadow(#ffffff0d);

			&::after {
				content: "";

				display: inline-block;
				margin-left: 0.125rem;

				height: 1em;
				width: 0.1875rem;

				background-color: var(--clr-brand-0);

				// animation: blink 1000ms ease infinite;
			}
		}
	}

	@keyframes blink {
		0%,
		100% {
			opacity: 0;
		}
		25%,
		75% {
			opacity: 1;
		}
	}
}
