@use "../abstracts" as *;
@use "sass:math" as *;

@mixin randomStar($selector, $amount: 40) {
	@for $star from 1 through $amount {
		$x: Min(#{random(100)}vw, 100vw - 140%);
		$y: Min(#{random(100)}vh, 100vh - 200%);
		$width: div(randomNum(1, 4), 10);

		&:nth-child(#{$star}) {
			&::#{$selector} {
				transform: translate(#{$x}, #{$y}) rotate(#{random(360)}deg);

				width: $width + rem;

				animation: blink #{randomNum(1000, 3000)}ms linear infinite;

				$h: random(360);
				$s: random(100) * 1%;
				$l: randomNum(50, 100) * 1%;
				$a: randomNum(0.3, 0.7);
				background-color: hsla($h, $s, $l, $a);
			}
		}
		&:nth-child(odd) {
			&::#{$selector} {
				border-radius: #{random(6)}px;
			}
		}
	}
}

.root--home {
	.star {
		&__stars {
			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;

				aspect-ratio: 1;
				// border-radius: 100vw;
			}

			@include randomStar(before);
			@include randomStar(after);
		}
	}
}

.main--home {
	$max-width: 110rem;
	$base-padding: 4rem;

	padding-inline: 4rem;

	.intro {
		display: grid;
		grid-template-columns: 2fr 1fr;
		place-content: center;
		gap: 2rem;

		padding-bottom: var(--header-height);
		height: calc(100vh - var(--header-height));

		&__title {
			&-wrapper {
				width: fit-content;
			}

			// font-style: italic;

			$cursor-adjust: 0px;

			width: fit-content;

			font-size: 4rem;
			font-weight: 600;
			line-height: 3ex;
			white-space: normal;
			user-select: none;

			@include longShadow(#ffffff0d);

			&::after {
				content: "";

				display: inline-block;
				margin-left: 0.125rem;

				height: 1em;
				width: 0.1875rem;

				background-color: var(--clr-brand-0);
			}
		}
	}

	@keyframes blink {
		0%,
		100% {
			opacity: 0;
		}
		25%,
		75% {
			opacity: 1;
		}
	}
}
