@use "../abstracts/" as *;
@use "sass:string";

//? Prevent Hsl to transform in Hex.
@function hsl($h, $s, $l) {
	@return unquote("hsl(#{$h}, #{$s}, #{$l})");
}

$colors: (
	surface: (
		0: hsl(225, 33, 7),
		1: hsl(225, 21, 11),
		2: hsl(224, 11, 19),
		3: hsl(222, 7, 26),
		4: hsl(227, 5, 33),
		5: hsl(225, 4, 39),
		6: hsl(225, 4, 45),
	),
	text: (
		0: hsl(255, 33%, 95%),
		1: hsl(255, 21%, 85%),
	),
	brand: (
		0: hsl(190, 69%, 28%),
		1: hsl(1, 76%, 25%),
	),
);

:root {
	@each $color, $shades in $colors {
		@each $shade, $clr in $shades {
			$break-hsl: string.slice(
				$string: $clr,
				$start-at: 5,
				$end-at: -2,
			);

			// @debug $clr, $break-hsl;
			--clr-#{$color}-#{$shade}: #{$clr};
			--clr-#{$color}-#{$shade}-alpha: #{$break-hsl};
		}
	}
}
