@use "../abstracts/" as *;

.main--music {
    //: Colors
    @include defineColorHSL(--clr-background, 0, 0%, 10%);
    @include defineColorHSL(--clr-forward, 228, 8%, 12%);
    @include defineColorHSL(--clr-hover, 13, 99%, 61%);
    @include defineColorHSL(--clr-main, 11, 98%, 59%);
    @include defineColorHSL(--clr-border, 228, 8%, 12%);
    @include defineColorHSL(--clr-text, 0, 0%, 96%);

    width: 100%;
    height: Max(100vh, 100%);

    .sidebar {
        $sb-width: 20em;
        position: relative;
        width: $sb-width;
        height: 100%;
        // background-image: linear-gradient(135deg, var(--clr-hover) 10%, var(--clr-forward));
        background-color: var(--clr-forward);
        z-index: 0;
        &::before,
        &::after {
            content: "";
            position: absolute;

            height: $sb-width;
            z-index: 0;
        }

        &::before {
            top: 0;
            inset-inline: 0;
            background-image: linear-gradient(135deg, alpha(var(--clr-hover), 0.3), var(--clr-forward) 50%);
        }

        &::after {
            top: 1em;
            inset-inline: 0;
            width: #{$sb-width - 4};
            margin-left: auto;
            right: 3em;

            border-top-left-radius: 100%;

            filter: blur(20px);
            background-color: var(--clr-forward);
        }

        & > * {
            position: relative;
            z-index: 1;
        }

        &__main-info {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2em;
            padding-block: 5em;
            margin-bottom: 2em;

            .icon {
                width: 5em;
                height: auto;
            }
            .app-name {
                font-size: 2em;
                font-weight: 500;
            }
        }

        &__list {
            display: grid;

            &__item {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1em;
                padding-block: 0.5em;

                font-weight: 500;

                &.selected {
                    position: relative;

                    background-image: linear-gradient(135deg, var(--clr-hover) -75%, var(--clr-forward) 85%);
                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        width: 4px;
                        background-color: var(--clr-hover);
                    }
                }

                svg {
                    width: 2em;
                    height: auto;
                    fill: var(--clr-hover);

                    path {
                        fill: var(--clr-hover);
                    }
                }

                &:first-child svg {
                    margin-bottom: 5px;
                }
            }
        }
    }
}
