.root {
	& > .cursor {
		position: fixed;
		top: 0;
		left: 0;

		width: 1rem;
		aspect-ratio: 1;

		pointer-events: none;

		z-index: calc(var(--layer-5) + 1);

		&--big {
			.cursor__ui {
				inset: -0.5rem;
				background-color: var(--clr-brand-1);

				&::before {
					outline-offset: 15.5px;
				}
			}
		}

		&--mix {
			mix-blend-mode: multiply;
		}
	}

	.cursor__ui {
		position: absolute;
		inset: 0;
		border-radius: 100vw;
		border: 2px solid var(--clr-brand-0);

		transition: all 75ms ease-in-out;

		&::before {
			content: "";
			position: absolute;
			inset: -1px;
			border-radius: inherit;

			outline-offset: -4px;
			outline: 2px dotted var(--clr-brand-0);

			animation: spin 1000ms linear infinite;
			transition: all 100ms ease-in-out;
		}

		&--clickable {
			inset: -2rem;

			display: grid;
			place-content: center;

			backdrop-filter: blur(0.25rem);
			background-color: hsla(var(--clr-brand-0-alpha), 0.25);

			.click {
				text-shadow: -1px 1px 0 #000;
				font-weight: 600;

				animation: show 200ms ease-in forwards;
			}
		}

		&--mix {
			inset: -0.5rem;
			background-color: var(--clr-brand-0);

			&::before {
				content: none;
			}
		}
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
