.root {
	.cursor {
		position: absolute;
		top: 0;
		left: 0;

		width: 1rem;
		aspect-ratio: 1;

		pointer-events: none;

		z-index: calc(var(--layer-5) + 1);

		@keyframes spin {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}

		&__ui {
			position: absolute;
			inset: 0;
			border-radius: 100vw;
			border: 2px solid var(--clr-brand-1);

			// filter: drop-shadow(0 0 10px var(--clr-surface-0));
			box-shadow: 0 0 2px 0 black;

			&::before {
				content: "";
				position: absolute;
				inset: -1px;
				border-radius: inherit;

				outline-offset: -4px;
				outline: 2px dotted var(--clr-brand-1);

				animation: spin 1s linear infinite;
				transition: all 75ms ease-in-out;
			}
		}

		&--big {
			.cursor__ui {
				inset: -0.5rem;
				background-color: var(--clr-brand-1);

				&::before {
					outline-offset: 15.5px;
				}
			}
		}
	}
}

* {
	cursor: none;
}
