.root__header {
	$compensation: 2rem;
	position: relative;
	z-index: var(--layer-3);
	height: 5rem;

	:where(&__nav, &__ul, &__item, &__link) {
		height: inherit;
	}

	&__nav {
		$max-width: 110rem;
		$padding: 4rem;

		margin-inline: auto;
		width: Min(100%, $max-width + $compensation * 2);
	}

	&__ul {
		display: grid;
		grid-template-columns: max-content 1fr;
		place-content: center;
		gap: 0.5rem;
	}

	&__item {
	}

	&__link {
		display: grid;
		place-content: center;
		padding-inline: $compensation;

		font-size: 1.5rem;
		font-weight: 500;
		text-shadow: -1px 1px 0 #000;
	}
}
