@use "../abstracts/" as *;

body,
.root {
	color: var(--clr-text-0);
	background: var(--clr-surface-0);
}

.root {
	position: absolute;
	inset: 0;

	// font-family: "EB Garamond", serif;
	// font-family: "Roboto Slab", serif;
	font-family: "Lora", serif;

	cursor: none;
}
